<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Fan Hub</vendor>
  <vendor_url>https://github.com/yourusername/fanhub</vendor_url>

  <action id="org.fanhub.run">
    <description>Run Fan Hub (fan speed and RGB control)</description>
    <message>Fan Hub needs administrator privileges to control fan speeds.</message>
    <icon_name>fanhub</icon_name>
    <defaults>
      <!-- Allow active users on the local console without password each session -->
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/fanhub/venv/bin/python3</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
